@use "../core/" as *;

// Variables
$header-padding: 1rem;
$header-logo-spacing: 1rem;
$header-item-spacing: 2.25rem;
$header-arrow-size: 0.5rem;
$section-padding: 1rem;
$section-margin-top: 6.25rem; // Convert to rem (100px)
$section-padding-left: 9.34375rem; // Convert to rem (149px)
$picture-size: 14.875rem; // Convert to rem (238px)
$picture-spacing: 0.5rem; // Convert to rem (8px)
$button-width: 29.375rem; // Convert to rem (470px)
$button-height: 3.5rem; // Convert to rem (56px)

// Header
.header {
  display: flex;
  align-items: center;
  padding: $header-padding;
}

.header__logo {
  margin-right: $header-logo-spacing;
}

.header__logo-image {
  width: 21.8125rem; // Equivalent to 349px converted to rem
  height: 5.5625rem; // Equivalent to 89px converted to rem
}

.header__navbar {
  margin-left: auto;
}

.header__navbar-list {
  list-style: none;
  display: flex;
}

.header__navbar-item {
  margin-right: $header-item-spacing;
}

.header__navbar-link {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  position: relative;
  margin-right: 2rem;
}

.header__navbar-link:hover {
  text-decoration: underline;
}

.header__sub-links {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  padding: 10px;
}

.header__sub-link-item {
  margin-bottom: 5px;
}

.header__sub-link {
  text-decoration: none;
  color: #000;
}

.header__sub-link:hover {
  text-decoration: underline;
}

.header__navbar-item:hover .header__sub-links {
  display: block;
}

.header__contact-button {
  margin-left: $header-item-spacing;
  background-color: #2b9763;
  color: #fff;
  border: none;
  padding: $header-padding;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  border-radius: 16px;
}

.header__contact-button:hover {
  background-color: #41d990;
}

// Hero Banner
.hero-banner {
  background-image: url("images/BannerBackground.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px;
  color: #fff;
  width: auto;
  height: 37.125rem;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text-bubble {
    position: relative;
    left: $section-padding-left;
    top: $section-padding-left;
    width: 28rem; // Equivalent to 448px converted to rem
    height: 9.25rem; // Equivalent to 148px converted to rem
    padding: 20px;
    background-color: rgba(
      255,
      255,
      255,
      0.7
    ); // Background color with 70% opacity
    border-radius: 20px;
    z-index: 1;
    color: #000; // Font color is black
    font-family: "Archivo", sans-serif; // Set font to Archivo
    font-size: 2.5rem; // Equivalent to 40px

    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 20px 10px 0;
      border-color: transparent #fff transparent transparent;
    }

    &__text {
      font-family: "Archivo", sans-serif;
      font-size: 40px;
      line-height: 1.2;
      margin: 0;
    }
  }

  &__image {
    height: 37.5rem; // Equivalent to 600px converted to rem
    border-radius: 20px;
  }
}

// Your Partner Section
.yourPartner {
  margin-top: $section-margin-top;
  padding-left: $section-padding-left;
  max-height: 30rem; // Equivalent to 480px converted to rem
  overflow-y: auto;
  position: relative;

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__text {
    flex: 1;
  }

  &__title {
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    font-size: 1.875rem; // Equivalent to 30px converted to rem
    color: #17a754;
    max-width: 29.375rem; // Equivalent to 470px converted to rem
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__paragraph {
    margin-top: 3.125rem; // Equivalent to 50px converted to rem
    font-family: "Lato", sans-serif;
    font-size: 1.125rem; // Equivalent to 18px converted to rem
    color: #000000;
    max-width: 29.375rem; // Equivalent to 470px converted to rem
  }

  &__pictures {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: $picture-spacing;
    margin-right: $section-padding-left;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__picture {
    width: $picture-size;
    height: $picture-size;
    margin-left: $picture-spacing;
    border-radius: $picture-size / 16; // Equivalent to 1rem (16px)
  }

  .yourPartner__picture + .yourPartner__picture {
    margin-left: $picture-spacing * 2; // Equivalent to 2rem (16px)
  }
}

// Section Divider
.section-divider {
  height: 0.125rem; // Equivalent to 2px converted to rem
  background-color: black;
  margin-top: 4.6875rem; // Equivalent to 75px converted to rem
  margin-left: $section-padding-left;
  margin-right: $section-padding-left;
}

// The App Section
.theApp {
  padding-left: $section-padding-left;
  margin-bottom: 3.125rem; // Equivalent to 50px converted to rem
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    align-items: flex-start;
    margin-top: $section-margin-top;
    margin-bottom: 3.125rem; // Equivalent to 50px converted to rem
  }

  &__text {
    flex: 1;
  }

  &__title {
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    font-size: 1.875rem; // Equivalent to 30px converted to rem
    color: #17a754;
    max-width: 29.375rem; // Equivalent to 470px converted to rem
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__paragraph {
    margin-top: 3.125rem; // Equivalent to 50px converted to rem
    font-family: "Lato", sans-serif;
    font-size: 1.125rem; // Equivalent to 18px converted to rem
    color: #000000;
    max-width: 29.375rem; // Equivalent to 470px converted to rem
  }

  &__button {
    width: 29.375rem; // Convert to rem (470px)
    height: 3.5rem; // Convert to rem (56px)
    border-radius: 16px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    font-family: "Archivo", sans-serif;
    font-size: 1.125rem; // Convert to rem (18px)
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 2rem; // Add margin-top to separate button from text

    &:hover {
      background-color: #41d990;
    }
  }

  &__image-wrapper {
    display: flex;
    justify-content: space-between; /* Add space between the buttons and the image */
    align-items: flex-start;
    margin-right: 11rem;
  }

  &__picture {
    width: 500px; // Convert to rem (238px)
    height: auto; // Convert to rem (238px)
    border-radius: 1.5625rem; // Convert to rem (25px)
  }

  &__gallery-button {
    /* Your button styles here */
    background-color: #2b9763;
    border-radius: 50px;
    color: white;
    /* Adjust the styles to match your desired appearance */
    width: 4rem;
    height: 4rem;
    border: none;
    font-family: "Archivo", sans-serif;
    font-size: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 20rem;
  }

  &__gallery-active {
    display: flex;
    flex-direction: column;
  }

  &__gallery-indicators {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* Adjust the top margin as needed */
    margin-bottom: 2rem; /* Add a bottom margin for spacing */
    margin-left: 4rem;
  }

  &__gallery-indicator {
    width: 1.2rem; /* Increase the width */
    height: 1.2rem; /* Increase the height */
    background-color: gray;
    border-radius: 50%;
    margin-right: 0.5rem;
  }

  &__gallery-indicator.active {
    background-color: green;
  }
}

$section-margin-top: 6.25rem; // Convert to rem (100px)
$section-padding-left: 9.34375rem; // Convert to rem (149px)

.ourMission {
  margin-top: $section-margin-top;
  padding-left: $section-padding-left;

  &__title {
    font-family: "Archivo", sans-serif;
    font-weight: bold;
    font-size: 1.875rem;
    color: #17a754;
    max-width: 29.375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 50px;
  }

  &__paragraph {
    font-family: "Lato", sans-serif;
    font-size: 1.125rem;
    color: #000000;
    max-width: 29.375rem;
    margin-top: 10px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    flex: 1;
    margin-right: 1rem; /* Added: Create spacing between text and pictures */
  }

  &__button {
    width: 29.375rem; // Convert to rem (470px)
    height: 3.5rem; // Convert to rem (56px)
    border-radius: 16px;
    background-color: #2b9763;
    cursor: pointer;
    border: none;
    color: #ffffff;
    font-family: "Archivo", sans-serif;
    font-size: 1.125rem; // Convert to rem (18px)
    &:hover {
      background-color: #41d990;
    }
  }

  &__subtext {
    font-family: "Lato", sans-serif;
    font-size: 1.125rem;
    color: #000000;
    margin-top: 50px; // Move the subtext 50px down
  }

  &__pictures {
    display: flex;
    flex-direction: column;
    align-items: center; /* Added: Align pictures in the center */
    margin-right: 10rem; /* Added: Create spacing between pictures and text */
  }

  .ourMission__picture {
    width: 20rem;
    height: 20rem;
    border-radius: 1.5625rem;
    margin-right: 20rem; /* Added: Create spacing between pictures */
  }
  .ourMission__pictureTwo {
    border-radius: 1.5625rem;
    margin: 2rem 0 0 0;
    width: 20rem;
    height: 20rem;
    margin-right: 10rem; /* Added: Create spacing between pictures */
  }
}

.acknowledgedBy {
  background-color: #dddddd;
  margin-top: 10.25rem; // Convert 164px to rem
  padding: 3.75rem 0; // Convert 30px to rem

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden; // Hide the overflow to create the effect
  }

  &__text {
    font-family: "Archivo", sans-serif;
    font-size: 2rem;
    color: #000000;
    margin-bottom: 3.125rem; // Convert 50px to rem
  }

  &__imageContainer {
    display: flex;
    gap: 10rem;
    height: 100px; // Adjust the height as desired
  }

  &__imageContainer img {
    max-width: 80%; // Set maximum width to prevent image from exceeding container width
    max-height: 80%; // Set maximum height to prevent image from exceeding container height
    margin-right: 20px; // Adjust the margin as desired
  }
}

.alreadyMember {
  background-color: #3c3c3c;
  padding: 4.25rem 0; // Convert 68px to rem
  text-align: center;

  &__title {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    font-size: 1.5rem; // Convert 24px to rem
    color: #ffffff;
  }

  &__paragraph {
    margin-top: 1.875rem; // Convert 30px to rem
    font-family: "Lato", sans-serif;
    font-size: 1.125rem; // Convert 18px to rem
    color: #ffffff;
  }

  &__buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem; // Convert 40px to rem

    img {
      max-width: 12.375rem; // Convert 198px to rem
      height: auto;
      opacity: 0.6;
      transition: opacity 0.3s ease;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}

.footer {
  background-color: #000000;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;

  section {
    h2 {
      font-family: "Archivo", sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      margin-bottom: 0.5rem;
    }

    p {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      color: #ffffff;
      margin: 0;
      text-align: center;
    }

    &__links {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      li {
        margin-bottom: 0.5rem;

        a {
          font-family: "Archivo", sans-serif;
          font-size: 16px;
          color: #ffffff; // Set anchor color to white
          text-decoration: none;
          transition: color 0.3s ease-in-out;

          &:hover {
            text-decoration: underline;
            color: #ffffff;
          }
        }
      }
    }

    &__social-icons {
      display: flex;

      a {
        width: 20%; // Adjust the width as desired
        max-width: 20%;
        height: 32px; // Adjust the height as desired
        max-height: 20%;
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }
  }
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.footerImages {
  width: 40%; // Adjust the width as desired
  max-width: 100%;
  height: 32px; // Adjust the height as desired
  max-height: 100%;
  margin-right: 0.5rem;
  cursor: pointer;
}

/* this is purely for the examn presentation */
.box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  z-index: 9999;
  font-family: Arial, sans-serif;
  border-radius: 26px;
}

.box__text {
  margin-top: 50%;
  transform: translateY(-50%);
}

.box__remove-text {
  margin-top: 10px;
  font-size: 14px;
}
